.lend-book-modal {
    .modal-content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .modal-actions {
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
}
